* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  padding-right: 10px;
  padding-left: 10px;
}

main {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.left_Side {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #f1f7fb;
  border-radius: 8px;
  box-shadow: 0 0 5px 3px #cce6fc;
  padding-bottom: 5px;
}

.info1 {
  background-color: white;
  margin: 20px;
  padding: 15px;
  align-items: center;
  text-align: center;
  border-radius: 8px;
}

.name-profile {
  margin: 10px 0;
  font-size: 24px;
  font-weight: 700;
  color: #222b63;
}

.social-media {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.social-gap {
  margin-left: 10px;
  margin-right: 10px;
}

.frontend-dev {
  width: 208px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  background-color: #DDEFF8;
  border: 2px solid #DDEFF8;
  border-radius: 15px;
}

.info-padding {
  padding: 10px 10px;
}

.contactInfo {
  padding-left: 20px;
  text-align: left;
}

.contactInfo span {
  font-size: 18px;
  font-weight: 450;
}

.text {
  padding-left: 15px;
}

.download-cv {
  width: 90%;
  height: 50px;
  margin: 20px 10px;
  padding: 10px 10px;
  background-color: #222b63;
  font-size: 16px;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

.letter {
  font-size: 28px;
  font-weight: 700;
  color: #222b63;
}

.main-border {
  border-radius: 14px;
  box-shadow: 0 0 5px 3px #cce6fc;
}

.skill-position {
  display: flex;
  flex-direction: column;
}

.progress-bar {
  width: 100%;
  height: 15px;
  margin-top: 10px;
  background-color: #cce6fc;
  border-radius: 15px;
}

.percentage {
  display: block;
  height: 100%;
  background-color: #2c7dc0;
  border-radius: 15px;
}

.html {
  width: 80%;
}

.javascript {
  width: 60%;
}

.css {
  width: 75%;
}

.sass {
  width: 60%;
}

.bootstrap {
  width: 80%;
}

.progress-label-html {
  position: relative;
  font-size: 16px;
  color: blue;
}

.progress-label-html::after {
  content: "80%";
  position: absolute;
  top: 0;
  right: 0;
  color: blue;
}

.progress-label-js {
  position: relative;
  font-size: 16px;
  color: blue;
}

.progress-label-js::after {
  content: "60%";
  position: absolute;
  top: 0;
  right: 0;
  color: blue;
}

.progress-label-css {
  position: relative;
  font-size: 16px;
  color: blue;
}

.progress-label-css::after {
  content: "75%";
  position: absolute;
  top: 0;
  right: 0;
  color: blue;
}

.progress-label-sass {
  position: relative;
  font-size: 16px;
  color: blue;
}

.progress-label-sass::after {
  content: "60%";
  position: absolute;
  top: 0;
  right: 0;
  color: blue;
}

.progress-label-bootstrap {
  position: relative;
  font-size: 16px;
  color: blue;
}

.progress-label-bootstrap::after {
  content: "80%";
  position: absolute;
  top: 0;
  right: 0;
  color: blue;
}

.main-padding {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  border-bottom: 2px solid #2c7dc0;
  text-align: justify;
  font-size: 12px;
}

.main-padding-edu {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: justify;
  font-size: 12px;
}

.work-exp {
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 5px;
  border-left: 2px solid #2c7dc0;
  box-shadow: 0 0 5px 3px #cce6fc;
}

.font1 {
  font-size: 24px;
  font-weight: bold;
  text-align: justify;
}

.font2 {
  font-size: 20px;
  font-weight: bold;
  color: #6c6c6c;
  text-align: justify;
}

.font3 {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #6c6c6c;
  text-align: justify;
}

.font4 {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  text-align: justify;
}

.form-section {
  display: block;
  margin-top: 30px;
  border-radius: 14px;
  background-color: #2c7dc0;
  color: white;
}

.form-headline {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  font-size: 28px;
  font-weight: 700;
}

.form-name-email {
  display: flex;
  flex-direction: row;
}

.form-contact {
  display: block;
  padding: 10px 15px;

}

.fname {
  display: flex;
  flex-direction: column;
}

.fname input {
  width: 100%;
  height: 50px;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 500;
  color: #2c7dc0;
  border-style: none;
  border-radius: 6px;
}

.fname label {
  padding: 10px 0;
  font-size: 16px;
  font-weight: 500;
}

.email {
  display: flex;
  flex-direction: column;
}

.email input {
  width: 100%;
  height: 50px;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 500;
  color: #2c7dc0;
  border-style: none;
  border-radius: 6px;
}

.email label {
  padding: 10px 0;
  font-size: 16px;
  font-weight: 500;
}

.message {
  display: flex;
  flex-direction: column;
}

.message textarea {
  width: 100%;
  height: 100px;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 500;
  color: #2c7dc0;
  border-style: none;
  border-radius: 6px;
}

.message label {
  padding: 10px 0;
  font-size: 16px;
  font-weight: 500;
}

.send-button {
  display: block;
  width: 100%;
  height: 50px;
  margin: 20px 0;
  font-size: 20px;
  font-weight: 700;
  background-color: white;
  color: #2c7dc0;
  padding: 10px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
  /*-- Code cho màn hình vừa (Table) viết ở đây --*/

  .contactInfo {
    display: inline-flex;
    flex-direction: row;
    padding-left: 20px;
    text-align: left;
  }

  .contactInfo span {
    font-size: 14px;
    font-weight: 500;
  }

  .skills-row {
    display: flex;
  }

  .skill-bar1 {
    width: 47%;
    margin-right: 6%;
  }

  .skill-bar2 {
    width: 47%;
  }

  .form-row {
    display: flex;
  }

  .fname {
    width: 48%;
    margin-right: 5%;
  }

  .email {
    width: 48%;
  }

  .button-center {
    margin-left: 33%;
    margin-right: 33%;
  }

  .send-button {
    width: 100%;
  }

}

@media only screen and (min-width: 991px) {
  /*-- Code cho màn hình lớn (PC) viết ở đây --*/

  body {
    padding: 10px 10px 8% 8%;
  }

  .structure {
    display: flex;
    flex-direction: row;
  }

  main {
    width: 90%;
    margin-top: 0;
    margin-left: 3%;
    margin-right: 3%;
  }

  .left_Side {
    width: 32%;
    height: 690px;
    position: sticky;
    top: 0;
    margin-top: 20px;
    margin-bottom: 25px;
    padding-bottom: 100px;
  }

  .frontend-dev {
    width: 100%;
  }

  .contactInfo span {
    font-size: 15px;
    font-weight: 450;
  }

  .download-cv {
    width: 70%;
  }

  .skills-row {
    display: flex;
  }

  .skill-bar1 {
    width: 47%;
    margin-right: 6%;
  }

  .skill-bar2 {
    width: 47%;
  }

  .form-row {
    display: flex;
  }

  .fname {
    width: 48%;
    margin-right: 5%;
  }

  .email {
    width: 48%;
  }

  .button-center {
    margin-left: 33%;
    margin-right: 33%;
  }

  .send-button {
    width: 100%;
  }
}